body{
    font-family: Kedebideri ;
     margin: 40px;

}
.social{
    margin-top: -46px;
    float: right;
    text-align: right;
}
h2{
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    letter-spacing: 1px;
}
li{
    margin-bottom: 6px;
}

hr {
    margin: 25px 0;
    border: none;
    border-top: 2px solid black;
}

