* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: "Roboto", sans-serif;
}

/* ------------MAIN SECTION------------------ */
.container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-image: url("Assets/BackgroundImage.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid red;
}

/* Pseudo-element for dark overlay */

.container::after {
  content: ""; /*necessary for psedu-element(fake layer k liye content chahiye)*/
  position: absolute;
  inset: 0; /* top:0; bottom:0; left:0; right:0;*/
  background: black;
  opacity: 0.75;
  z-index: 1;
  pointer-events: none; /* Ensures the overlay doesn't block interactions */
}

header {
  position: relative;
  z-index: 2;
  height: 80px;
  padding: 0 9rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 150px;
}

.selector {
  display: flex;
  gap: 1rem;
  width: auto;
}
.selector select {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.selector .select option {
  color: black;
}

.signin-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 4px;
  cursor: pointer;
}

.hero {
  position: relative;
  z-index: 2;
  color: white;

  height: calc(100vh - 80px); /* Full viewport height minus header height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 0 1rem;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
}
.price {
  font-size: 1.3rem;
  margin-top: 1rem;
}
.desc {
  font-size: 1.1rem;
  margin-top: 1.2rem;
}
.email-box {
  margin-top: 2rem;
  display: flex;
  gap: 0.7rem;
}
#email {
  width: 400px;
  height: 70px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid gray;
  background-color: transparent;
  color: white;
  border-radius: 4px;
  font-size: large;
  font-weight: bold;
}
.start-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 0 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

/*---------- TRENDING SECTION -----------------*/

.heading h2 {
  color: white;
  font-size: 30px;
  margin-bottom: 28px;
  display: block;
  padding: 0px 60px;
  margin-top: 50px;
}
.movie-row-wrapper{
  position: relative;
  display: flex;
  align-items: center;
}

.movie-row {
  padding: 0px 80px;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
  scrollbar-width: none;
}
.movie-row::-webkit-scrollbar{
  display: none;
}
.movie {
  position: relative;
  min-width: 250px;
  height: 250px;
  flex-shrink: 0;
}
.movie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.rank {
  position: absolute;
  left: -25px;
  bottom: 3px;
  font-size: 150px;
  font-weight: bold;
  color: black;
  -webkit-text-stroke: 3px white; /*WHITE BORDER */
}
.scroll-btn{
  position: absolute;
  z-index: 10;
  background-color: rgba(0,0,0,0.6);
  border: none;
  font-size: 30px;
  cursor: pointer;
  height: 100%;
  width: 50px;
}

.scroll-btn-left{
  left: 0;

}
.scroll-btn-right{
  right: 0;
}
/* ------------------REASONS----------------- */

.reasons {
  padding: 50px 80px;
}

.reason-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 0px 50px;
}
.res-cards {
  background-color: #212755;
  position: relative;
  min-height: 260px;
  padding: 30px;
  border-radius: 22px;
  box-shadow: inset 0 0 40px rgba(255, 255, 255, 0.114);
}

.res-cards h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.res-cards p {
  font-size: 25px;
  line-height: 1.4;
  color: #cfcfcf;
  max-width: 90%;
}

/*--------------------FAQ BOXES--------------------------*/

.faq {
  padding: 30px 50px;
}
.faq-box {
  width: 100%;
  height: 100px;
  margin: 15px;
  background-color: #2d2d2d;
  color: #fff;
  font-size: 1.5rem;
  padding: 22px 24px;
  text-align: left;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq-box:hover {
  background-color: #414141;
}

.icon {
  font-size: 2.5rem;
}

/* ---------------------FOOTER------------------- */

footer {
  padding: 25px 70px;
}
.footer-call {
  margin-bottom: 30px;
  font-size: 1.3rem;
  color: #ffffffb3;
}
.footer-call a {
  color: #ffffffb3;
}
.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}
.footer-links a {
  color: #ffffffb3;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 3rem;
}
.footer-links a:hover {
  text-decoration: underline;
}
.footer-links ul {
  list-style: none;
  padding: 0;
}

.country {
  margin-top: 25px;
  font-size: 1.5rem;
  color: #ffffffb3;
}

.note {
  margin-top: 30px;
  font-size: 20px;
  color: #8c8c8c;
}
.note a {
  color: rgba(0, 0, 255, 0.821);
}
.blank {
  height: 200px;
}

/* RESPONSIVENESS */

@media (max-width: 1024px) {
  header {
    padding: 0 3rem;
  }
  .hero h1 {
    font-size: 2.5rem;
  }
  .reason-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  header {
    padding: 0 1rem;
  }
  .hero {
    font-size: 2rem;
  }
  .email-box {
    flex-direction: column;
    width: 100%;
  }
  #email,
  .start-btn {
    width: 100%;
  }
  .reason-cards {
    grid-template-columns: 1fr;
  }

  footer {
    padding: 20px 10px;
  }
}
