body{
 text-align: center;
}

.main{
    display: grid; 
    grid-template-columns: repeat(2,auto);
    justify-content: center;
    gap: 20px;
   margin: auto;
}
.box{
    border-radius: 40px;
   border: 8px solid black; 
   height: 200px;
   width: 200px;
}
.one{

    background-color: #D55075;
}

.two{

   background-color: #58A0B9;
}
.three{
    background-color: #FA903A;

}
.four{
    background-color: #7794F8;
 
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: green;
}